<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <link href="http://api.map.baidu.com/library/IndoorMap/1.0/src/indoor.min.css?v=1.0.1 " rel="stylesheet"
        type="text/css">
    <style type="text/css">
        body,
        html,
        #map {
            width: 100%;
            height: 95%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=AUqY8GNgMGsQ0XvRvjOcLeoxivBtQIXI"></script>
    <script type="text/javascript" src="//api.map.baidu.com/library/IndoorMap/1.0/src/indoor.min.js?v=1.0.1 "></script>
    <title>室内图展示</title>
</head>

<body>
    <div id="map"></div>
    <div id="r-result">
        <input type="button" onclick="showBaseMap();" value="显示室内图底图" />
        <input type="button" onclick="hideBaseMap();" value="隐藏室内图底图" />
        <input type="button" onclick="map.enableDragging();" value="允许拖拽底图" />
        <input type="button" onclick="map.disableDragging();" value="禁止拖拽底图" />
    </div>
</body>

</html>

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("map"); // 创建Map实例
    var top_left_navigation = new BMap.NavigationControl(); //左上角，添加默认缩放平移控件
    var top_left_control = new BMap.ScaleControl({
        anchor: BMAP_ANCHOR_TOP_LEFT
    }); // 左上角，添加比例尺
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);
    map.centerAndZoom(new BMap.Point(116.340739, 40.03592), 19); // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
    // 创建室内图实例
    var indoorManager = new BMapLib.IndoorManager(map);
    // 显示室内图底图
    function showBaseMap() {
        indoorManager.showBaseMap();
    }
    // 隐藏室内图底图
    function hideBaseMap() {
        indoorManager.hideBaseMap();
    }
</script>